name: Tag on push

on: 
  push:
    branches:
      main

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            console.log(context)
            # github.rest.git.createTag({
            #   owner: context.repo.owner,
            #   repo: context.repo.repo,
            #   tag: ,
            #   message: "",
            #   object: ,
            #   type: commit,
            #   tagger.name: ,
            #   tagger.email: 
            # })




