name: Tag on push

on: 
  push:
    branches:
      main

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          debug: true
          script: |
            rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/1.0.0",
              sha: context.sha
            })
