name: Tag on push

on: 
  push:
    branches:
      main

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            github.rest.git.createTag({
              owner: context.repo.owner,
              repo: context.repo.repo,
              tag: "1.0.0",
              message: "",
              object: context.sha,
              type: "commit",
              tagger.name: context.payload.pusher.name,
              tagger.email: context.payload.pusher.email 
            })
