name: Auto tag

on: 
  push:
    branches:
      main

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            const ref = "gha-" + context.repo.default_branch + "-" + context.sha.substring(0, 7)

            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: ref,
              sha: context.sha
            })
